**This Notebook is done as part of DataTalk.club MLZoomCamp 2025.**
- Module: 01 Intro
- Homework: 1

- Python Libraries Used: Numpy, Pandas.
- Use uv for installing libraries through pyproject.toml

In [43]:
import pandas as pd
import numpy as np

#### Q1. Pandas version

In [2]:
pd.__version__

'2.3.2'

### Loading Dataset - car_fuel_efficiency.csv

In [3]:
cfe = pd.read_csv('data/car_fuel_efficiency.csv')

In [7]:
cfe.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

#### Q2. Records count

In [5]:
nrows, rcols = cfe.shape

print("Total Records Count :", nrows)

Total Records Count : 9704

#### Q3. Fuel types (How many fuel types are presented in the dataset?)

In [10]:
print("Types of Fuel in Dataset :")
cfe['fuel_type'].nunique()

Types of Fuel in Dataset :

2

#### Q4. Missing values (How many columns in the dataset have missing values?)

In [18]:
miss_cols = cfe.isna().sum()
print("Columns with Missing Values: ")
print(miss_cols[miss_cols > 0])
print("Columns Count :", miss_cols[miss_cols > 0].count())

Columns with Missing Values:
num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64
Columns Count : 4

#### Q5. Max fuel efficiency (What's the maximum fuel efficiency of cars from Asia?)

In [19]:
cfe['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [24]:
asia_max_fuel_eff = cfe[cfe['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print('Max Fuel Efficiency of cars from asia :', asia_max_fuel_eff)

Max Fuel Efficiency of cars from asia : 23.759122836520497

#### Q6. Median value of horsepower

1. Find the median value of the horsepower column in the dataset.

In [26]:
original_median = cfe['horsepower'].median()
print("Original Median ", original_median)

Original Median  149.0

2. Next, calculate the most frequent value of the same horsepower column.(Mode)

In [37]:
hp_mode = cfe['horsepower'].mode()
print("HP Mode ", hp_mode)

HP Mode  0    152.0
Name: horsepower, dtype: float64

3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.

In [39]:
cfe['horsepower'] = cfe['horsepower'].fillna(152.0)

4. Now, calculate the median value of horsepower once again.

In [40]:
update_median = cfe['horsepower'].median()
print("Updated HP Median ", update_median)

Updated HP Median  152.0

#### Q7. Sum of weights

In [65]:
# Select all the cars from Asia
# Select only columns vehicle_weight and model_year
df = cfe[cfe['origin'] == 'Asia'][['vehicle_weight', 'model_year']]
# Select the first 7 values
df = df.head(7)
# Get the underlying NumPy array. Let's call it X.
X = df.to_numpy()
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X
# Invert XTX.
iXTX = np.linalg.inv(XTX)
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = [1100, 1300, 800, 900, 1000, 1100, 1200]
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = (iXTX @ X.T) @ y
w_sum = np.sum(w)
print('Sum of Weights :', w_sum)

Sum of Weights : 0.5187709081074016